/* Navbar.css */

  
  .navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:black;
    padding: 10px 5%;

  }
  .logo{
    width:100px;
    height:auto;
    cursor: pointer;
  }

  ul{
    flex:1;
    list-style:none;
    text-align:center;
  }

  ul li{
    display:inline-block;
    margin:10px 20px;
    font-size:18px;
    cursor:pointer;
  }

  li a {
    color: #fff; /* Set the color of the text */
    text-decoration: none;
  }

  
  